@model warranty_management.Models.Customer
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="container">
    <h3>
        <span class="glyphicon glyphicon-pencil"></span>Thêm nhà khách hàng mới
    </h3>
</div>
